*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 150px 10px 150px;
    background-color: rgb(240, 173, 173);
    
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
.logo-container p{
    font-size: 1.6rem;
    font-weight: 600;
}
span{
    color: rgb(253, 33, 169);
}
.logo-img{
    width: 35px;
}
.nav-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;

}
.nav-item-container a{
    font-size: 0.7rem;
    color: rgb(26, 26, 26);
    text-decoration: none;   
}
.nav-item-container a:hover{
    color: rgb(253, 33, 169);
}
.btn-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    background-color: rgb(192, 190, 190);
    border: none;
    padding: 2px 8px 2px 8px;
}
.btn-icon{
    width: 20px;
    height: 18px;
}
.btn-icon:hover{
    transform: rotate(45deg);  
}
.btn-icon1{
    width: 20px;
    height: 15px;
}
.btn-icon1:hover{
    transform: rotate(-45deg);  
}

/*--- main section---*/
/*--- banner---*/
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 25px 150px 10px 150px; 
    
     
}

.banner-container h2{
    font-size: 1.8rem;
}
.banner-description{
    font-size: 3.3rem;
    font-weight: 600;
    color: rgb(202, 4, 176);   
}
.icon-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon-description{
    font-size: 0.8rem;

}

.banner-icon{
    width: 15px;
    height: 15px;
}
.button-container{
    margin-top: 20px;
}
.banner-btn1{
    width: 85px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:white ;
    background-color: rgb(253, 33, 169);
    font-size: 0.6rem;

}
.banner-btn2{
    width: 85px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:white ;
    background-color: rgb(95, 157, 250);
    font-size: 0.6rem;

}
.banner-img{
    width: 400px;
    height: 450px;
    margin-bottom: -27px;
    margin-top: -5px;
}

/*---gamer section---*/
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    margin-top: 8px;
    padding: 20px 150px 10px 150px; 
}

.gamer-img{
    width: 600px;
}
.gamer-header{
    font-size: 1.8rem;
    color: blueviolet;
    text-align: right;

}
.gamer-description{
    margin-top: 15px;
    font-size: 0.8rem;
    text-align: right;
}
.gammer-btn{
    width: 95px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:white ;
    background-color: rgb(253, 33, 169);
    font-size: 0.6rem;
    margin-top: 20px;  
    margin-left: 280px;
}
.gammer-footer{
    text-align: right;
    margin-top: 18px;
}









/*------- Responsive phone media --------*/

@media screen and (max-width: 400px){
    
    /*--- nav ---*/
    .nav-container{
    flex-direction: column;
    }
    .nav-item-container{
    margin-top: 8px;
    flex-direction: column;
    }
    .btn-primary{
        width: 150px;  
    }

    /*--- banner ---*/
    .banner-container{
       flex-direction: column-reverse;  
    }
    .banner-img{
        width: 300px;
        height: 300px;
    }
    .banner-left-container{
        margin-top: 40px;
    }
}



/*------Responsive tablet media------*/

@media screen and (min-width:401),(max-width: 601px){
    
    /*--- nav ---*/
    .nav-container{
    flex-direction: column;
    }
    .nav-item-container{
    margin-top: 8px;
    flex-direction: column;
    }
    .btn-primary{
        width: 150px;  
    }

    /*--- banner---*/
    .banner-container{
        flex-direction: column;  
     }
     .banner-img{
         width: 300px;
         height: 300px;
     }
     .banner-left-container{
         margin-top: 40px;
     }
}