*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 150px 10px 150px;
    background-color: white;
    
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
.logo-container p{
    font-size: 1.6rem;
    font-weight: 600;
}
span3{
    color: rgb(253, 33, 169);
}
.logo-img{
    width: 35px;
}
.nav-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;

}
.nav-item-container a{
    font-size: 0.7rem;
    color: rgb(26, 26, 26);
    text-decoration: none;   
}
.nav-item-container a:hover{
    color: rgb(253, 33, 169);
}
.btn-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    background-color: rgba(212, 212, 212, 0.815);
    border: none;
    padding: 2px 8px 2px 8px;
}

.btn-icon{
    width: 20px;
    height: 18px;
}
.btn-icon:hover{
    transform: rotate(45deg);  
}
.btn-icon1{
    width: 20px;
    height: 15px;
}
.btn-icon1:hover{
    transform: rotate(-45deg);  
}

/*--- main section---*/
/*--- banner---*/
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    padding: 25px 150px 10px 150px;   
    background-color: white;   
    max-width: 1400px;
    min-height: 50px;
    background-image: url(images/Group\ 14.png);
   
}

.banner-container h2{
    font-size: 1.8rem;
}
.banner-description{
    font-size: 3.3rem;
    font-weight: 600;
    color: rgb(202, 4, 176);   
}
.icon-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon-description{
    font-size: 0.8rem;
}
.banner-icon{
    width: 15px;
    height: 15px;
}
.button-container{
    margin-top: 20px;
}
.banner-btn1{
    width: 85px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:white ;
    background-color: rgb(253, 33, 169);
    font-size: 0.6rem;

}

.banner-btn1:hover{
    transform: rotate(-45deg);  
}
.banner-btn2:hover{
    transform: rotate(-45deg);  
}
.banner-btn2{
    width: 85px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:white ;
    background-color: rgb(95, 157, 250);
    font-size: 0.6rem;

}
.banner-img{
    width: 500px;
    height: 400px;
    margin-bottom: -16px;
    
}

/*---gamer section---*/
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 225, 251, 0.404);
    margin-top: -3px;
    padding: 20px 150px 10px 150px; 
}


.gamer-img{
    width: 600px;
}
.gamer-header{
    font-size: 1.8rem;
    color: blueviolet;
    text-align: right;

}
.gamer-description{
    margin-top: 15px;
    font-size: 0.8rem;
    text-align: right;
}
span1{
    color: rgb(72, 2, 104);
}
.gammer-btn{
    width: 95px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:white ;
    background-color: rgb(253, 33, 169);
    font-size: 0.6rem;
    margin-top: 20px;  
    margin-left: 280px;
}
.gammer-btn:hover{
    transform: rotate(45deg); 
}
.gammer-footer{
    text-align: right;
    margin-top: 18px;
}

/*---online section---*/

.online-section-container{
    align-items: center;
    text-align: center; 
    margin-top: 8px;
    padding: 20px 150px 10px 120px; 
    
}
.online-header{
    margin-top: 15px;
    font-size: 1.8rem;
    
}


.online-header-description{
    font-size: 0.8rem;
    margin-top: 12px;
}
.online-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap:4px ;
    
   
}

.online-img:hover{
    color: rgb(253, 33, 169);
    border: 4px solid rgb(253, 33, 169);
    width: 250px;
    height: 280px;
    border-radius: 15px;
    font-size: 0.6rem;
    z-index: -1;
    
    
   
}
.online-img1:hover{
    color: rgb(253, 33, 169);
    border: 2px solid rgb(253, 33, 169);
    width: 250px;
    height: 280px;
    border-radius: 15px;
    font-size: 0.6rem;
 
}
 
.online-img{
    width: 260px;
    height: 280px;
}
.online-img1{
    width: 260px;
    height: 280px;
    margin-top: -18px;   
}
.online-description{
    text-align: left;
    font-size: 0.8rem;
    padding: 18px;
}

/*---paly section---*/
.play-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 8px;
    padding: 20px 60px 10px 60px; 
}
.play-header-section{
    text-align: right;
    padding-left: 180px;
}
.play-description{
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: right;
   
    
}
span{
    color:rgb(253, 33, 169);
}
.c2{
    transform:translate(0.2px); 
    margin-top: -200px;
}
.play-img{
    width: 400px;
    
}
.play-img1{
    width: 200px;
    height: 250px;
    transform:translate(-180px);
}


/*---career section---*/
.carrer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 3, 196);
    background-image: url(images/Group\ 14.png);
    padding: 20px 150px 10px 120px; 
}
.carrer-comtainer-left{
   width: 50%;
   margin: 0 auto;
}

.carrer-comtainer-left h2{
    color: white;
    font-size: 1.9rem;
    font-weight: 700;
    padding-bottom: 20px;
 }
 .carrer-description{
    font-size: 1rem;
    color: white;
    padding-bottom: 20px;
 }
.career-container-right{
    width: 50%;
    margin: 0 auto;
 }
 .carrer-img{
    width: 600px;
    height: 600px;
    margin-bottom: -16px;
    margin-left: 100px;
 }
.carrer-devider{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}
.carrer-devider p{
    font-size: 0.8rem;
    color: white;
    padding-bottom: 3px;
}
.carrer-btn{
    width: 150px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color:rgb(255, 1, 158) ;
    background-color: rgb(252, 252, 252);
    font-size: 0.8rem;
    font-weight: 700;
    margin-top:25px ;
}

.carrer-btn:hover{
    transform: rotate(-45deg);  
}

/*---game section---*/
.game-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 8px;
    padding: 120px 350px 20px 320px; 
    background-color: white;
          
}
.game{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5%;
    
}
.game:hover{
    color: rgb(253, 33, 169);
    border: 2px solid rgb(253, 33, 169);
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    font-size: 0.6rem;
    
}
.game img{
    width: 40px;
    
}

.game p{
    font-size: 0.6rem;
    font-weight: 700;
}

/*--footer--*/
footer{
    background-color: rgb(12, 2, 36);
    align-items: center;
    text-align: center;
   
}

.footer-logo-container{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left:550px;
    padding-top: 90px;

}
.footer-logo-container p{
    font-size: 1.9rem;
    font-weight: 700;
    color: white;
}
span3{
    color: rgb(253, 33, 169);
}
.footer-logo-img{
    width: 35px;
}
.footer-story{
    display: flex;
    gap: 20px;
    color: white;
    text-align: center;
    padding-left: 460px;
    margin-top: 15px;
}
.footer-story p{
   font-size: 0.8rem;  
}
.footer-icon{
    display: flex;
    gap: 20px;
    color: white;
    text-align: center;
    padding-left: 600px;
    margin-top: 20px; 
}
.footer-description{
    display: flex;
    gap: 20px;
    color: white;
    text-align: center;
    padding-left: 510px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 0.6rem;
}
.footer-p{
    margin-top: 30px;
    color: white;
    font-weight: 100;
    font-size: 0.6rem;
    padding-bottom: 70px;
}




/*------- Responsive phone media --------*/
@media screen and (max-width:400px){
    
    .nav-container{
    flex-direction: column;
    }
   
    .nav-item-container{
       flex-direction: column;    
    }
    .btn-primary{
        width: 140px;
        border: none;
        padding: 2px 8px 2px 8px;
    }
    
    
    /*--- main section---*/
    /*--- banner---*/
    .banner-container{
       flex-direction: column-reverse;  
    }
    
    .banner-img{
        width: 350px;
        height: 400px;
        padding: 0 0 40px 35px;
        
    }
    
    /*---gamer section---*/
    .gamer-container{
        flex-direction: column-reverse;
    }

    .gamer-img{
        width: 300px;
    }
    .gamer-header{
        text-align: center;
    }
    .gamer-description{
        text-align: center;
    }
    
    .gammer-btn{
       text-align: center;
       align-items: center;
       
    }
    .gammer-footer{
        text-align: center;
    }
    
    /*---online section---*/
    
   
    .online-section-container{
        padding: 0 0 40px 35px;
    }
    
    .online-container{
    flex-direction: column;
    padding: 8px 100px 2px 80px;   
    }

    /*---paly section---*/
    .play-container{
        flex-direction: column;
        padding: 8px 100px 2px 80px;   
    }

    .play-header-section{
        text-align: center;
        padding: 0 0 40px 35px;
    }
    .play-description{
        text-align: center;   
    }
   
    .play-img{
        width: 300px;
        
    }
    .play-img1{
        width: 150px;
        height: 150px;
        transform:translate( 100px);
        margin-top: 100px;
    }
    /*---career section---*/
    .carrer-container{
        flex-direction: column;

    }
    .carrer-comtainer-left{
        text-align: left;
        padding: 0;
        margin: 0 200px 0 3px;
    }
    .carrer-comtainer-left p{
        text-align: left;
        font-size: 0.5rem;
        width: 200px;
    }
    .carrer-img{
    width: 150px;
    height: 150px;
    padding: 0 10px 0 2px; 
    align-items: center;
}
       
    /*---game section---*/
    .game-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 8px;
        padding: 8px 20px 20px 78px;          
    }
    .game{
        display: flex;
        gap: 9px;
        align-items: center;
        padding: 5%;   
    }
    .game img{
        width: 30px;   
    }
    .game p{
        font-size: 0.4rem;
        font-weight: 600;
    }
    
    /*--footer--*/
    .footer-logo-container{
        flex-direction: flex;
        padding: 78px 65px 2px 100px;   
    }
    .footer-logo-container p{
        font-size: 1.3rem;
    }
    .footer-logo-img{
        width: 35px;
    }
    .footer-story{
        display: flex;
        gap: 8px;
        padding: 8px 59px 2px 30px;  
    }
    .footer-story p{
       font-size: 0.6rem; 
       
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 0.2fr);
        gap: 10px;
        padding: 8px 90px 2px 140px; 
    }
    .footer-description{
        display: flex;
        gap: 6px;
        padding: 8px 75px 0 75px; 
       font-size: 0.5rem;
    }
    .footer-p{
        padding: 0 10px 70px 10px;
        font-size: 0.4rem; 
    }}
    




